@model ECF_LEGUMOS_RAVANDOUST.Models.Vegetable

<div>
    <h4>Vegetable</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Variety)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Variety)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimaryColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimaryColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LifeTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LifeTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fresh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fresh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
