@model IEnumerable<ECF_LEGUMOS_RAVANDOUST.Models.Vegetable>


    <h1>Liste des legumes</h1>

<p class="create">
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Variety)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimaryColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LifeTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fresh)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Variety)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimaryColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LifeTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fresh)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editer</a> .
                <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
