@model IEnumerable<ECF_LEGUMOS_RAVANDOUST.Models.Sale>


<h1>Liste des ventes</h1>

<main role="main">


    @foreach (var item in Model)
    {



        <div class="box">
            <h2>@Html.DisplayFor(modelItem => item.Vegetable.Name)</h2>
            <h2>(@Html.DisplayFor(modelItem => item.SaleWeight)KGS)</h2>
            <p>@Html.DisplayFor(modelItem => item.SaleDate)</p>
        </div>

    }





</main>

<!--
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SaleDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaleWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaleUnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaleActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vegetable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SaleDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SaleWeight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SaleUnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SaleActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vegetable.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SaleId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SaleId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SaleId">Delete</a>
                </td>
            </tr>

        }
    </tbody>
</table>

    -->
